.mspb-button {
  font-family: Roboto, Arial, sans-serif;
  color: #ffffff;
  font-weight: 300;
  font-size: 16px;
  padding: 8px 16px;
  border-radius: 2px;
  border: none;
  cursor: pointer;
  text-decoration: none;

  &--small{
    padding: 4px 8px;
    font-size: 12px;
  }

  &--primary {
    background-color: $primary-background;
  }

  &--attentive {
    background-color: $attentive-background;
  }

  &--secondary{

    border: 1px solid $primary-border;

    color: $primary-text-highlight;

    background-color: transparent;

  }
}