$primary-background: #4299e1;
$primary-border: #4299e1;
$primary-text-highlight: #4299e1;
$error-background: #E46B63;
$success-background: #68d391;
$attentive-background: #E46B63;
$positive-background: #E46B63;
$primary-text: #474D52;
$secondary-text: #7C8084;
$border: #F3F3F3;